openapi: 3.0.3
info:
  title: Notion REST API
  version: 2026-03-11
  description: Curated Notion REST operations from the official Notion API reference.
servers:
  - url: https://api.notion.com
security:
  - bearerAuth: []
paths:
  /v1/search:
    post:
      operationId: api_search
      summary: Search pages and data sources
      description: Search across pages and data sources that the integration can access.
      tags: [Search]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/pages:
    post:
      operationId: api_create_page
      summary: Create a page
      description: Create a new page in a page, database, or data source parent.
      tags: [Pages]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePageRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/pages/{page_id}:
    get:
      operationId: api_retrieve_page
      summary: Retrieve a page
      description: Retrieve a page object by page ID.
      tags: [Pages]
      parameters:
        - $ref: '#/components/parameters/PageID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    patch:
      operationId: api_update_page
      summary: Update a page
      description: Update page properties or archive state.
      tags: [Pages]
      parameters:
        - $ref: '#/components/parameters/PageID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePageRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/pages/{page_id}/properties/{property_id}:
    get:
      operationId: api_retrieve_page_property_item
      summary: Retrieve a page property item
      description: Retrieve a single page property value, including paginated property items.
      tags: [Pages]
      parameters:
        - $ref: '#/components/parameters/PageID'
        - $ref: '#/components/parameters/PropertyID'
        - $ref: '#/components/parameters/StartCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/pages/{page_id}/markdown:
    get:
      operationId: api_retrieve_page_markdown
      summary: Retrieve a page as markdown
      description: Retrieve enhanced Markdown for a page.
      tags: [Pages]
      parameters:
        - $ref: '#/components/parameters/PageID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    patch:
      operationId: api_update_page_markdown
      summary: Update a page's content as markdown
      description: Insert or replace page content using Notion's enhanced Markdown commands.
      tags: [Pages]
      parameters:
        - $ref: '#/components/parameters/PageID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageMarkdownUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/blocks/{block_id}:
    get:
      operationId: api_retrieve_block
      summary: Retrieve a block
      description: Retrieve a block object by block ID.
      tags: [Blocks]
      parameters:
        - $ref: '#/components/parameters/BlockID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    patch:
      operationId: api_update_block
      summary: Update a block
      description: Update a supported block type or its archived state.
      tags: [Blocks]
      parameters:
        - $ref: '#/components/parameters/BlockID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBlockRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    delete:
      operationId: api_delete_block
      summary: Delete a block
      description: Archive a block by block ID.
      tags: [Blocks]
      parameters:
        - $ref: '#/components/parameters/BlockID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/blocks/{block_id}/children:
    get:
      operationId: api_retrieve_block_children
      summary: Retrieve block children
      description: Retrieve the child blocks for a block or page.
      tags: [Blocks]
      parameters:
        - $ref: '#/components/parameters/BlockID'
        - $ref: '#/components/parameters/StartCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    patch:
      operationId: api_append_block_children
      summary: Append block children
      description: Append new child blocks after an existing block or at the end of the children list.
      tags: [Blocks]
      parameters:
        - $ref: '#/components/parameters/BlockID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendBlockChildrenRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/comments:
    get:
      operationId: api_retrieve_comments
      summary: Retrieve comments
      description: Retrieve comments, optionally filtered to a specific block or page discussion.
      tags: [Comments]
      parameters:
        - $ref: '#/components/parameters/CommentBlockID'
        - $ref: '#/components/parameters/StartCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    post:
      operationId: api_create_comment
      summary: Create a comment
      description: Create a comment on a page, block, or existing discussion thread.
      tags: [Comments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/databases:
    post:
      operationId: api_create_database
      summary: Create a database
      description: Create a database and its initial data source.
      tags: [Databases]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/databases/{database_id}:
    get:
      operationId: api_retrieve_database
      summary: Retrieve a database
      description: Retrieve a database object by database ID.
      tags: [Databases]
      parameters:
        - $ref: '#/components/parameters/DatabaseID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    patch:
      operationId: api_update_database
      summary: Update a database
      description: Update database title, description, cover, or trash state.
      tags: [Databases]
      parameters:
        - $ref: '#/components/parameters/DatabaseID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabaseRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/data_sources:
    post:
      operationId: api_create_data_source
      summary: Create a data source
      description: Create an additional data source under an existing database.
      tags: [Data sources]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataSourceRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/data_sources/{data_source_id}:
    get:
      operationId: api_retrieve_data_source
      summary: Retrieve a data source
      description: Retrieve a data source object by data source ID.
      tags: [Data sources]
      parameters:
        - $ref: '#/components/parameters/DataSourceID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'
    patch:
      operationId: api_update_data_source
      summary: Update a data source
      description: Update a data source schema, name, description, or icon.
      tags: [Data sources]
      parameters:
        - $ref: '#/components/parameters/DataSourceID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDataSourceRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/data_sources/{data_source_id}/query:
    post:
      operationId: api_query_data_source
      summary: Query a data source
      description: Query rows in a data source with filter, sort, and pagination options.
      tags: [Data sources]
      parameters:
        - $ref: '#/components/parameters/DataSourceID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataSourceRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/data_sources/{data_source_id}/templates:
    get:
      operationId: api_list_data_source_templates
      summary: List data source templates
      description: List templates available for a data source.
      tags: [Data sources]
      parameters:
        - $ref: '#/components/parameters/DataSourceID'
        - $ref: '#/components/parameters/TemplateName'
        - $ref: '#/components/parameters/StartCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/users:
    get:
      operationId: api_list_users
      summary: List all users
      description: List users visible to the authenticated integration.
      tags: [Users]
      parameters:
        - $ref: '#/components/parameters/StartCursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/users/me:
    get:
      operationId: api_get_self
      summary: Retrieve your token's bot user
      description: Retrieve the bot user associated with the current token.
      tags: [Users]
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

  /v1/users/{user_id}:
    get:
      operationId: api_retrieve_user
      summary: Retrieve a user
      description: Retrieve a user by user ID.
      tags: [Users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          $ref: '#/components/responses/GenericObject'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    PageID:
      name: page_id
      in: path
      required: true
      schema:
        type: string
      description: ID of a Notion page.
    BlockID:
      name: block_id
      in: path
      required: true
      schema:
        type: string
      description: ID of a Notion block.
    DatabaseID:
      name: database_id
      in: path
      required: true
      schema:
        type: string
      description: ID of a Notion database.
    DataSourceID:
      name: data_source_id
      in: path
      required: true
      schema:
        type: string
      description: ID of a Notion data source.
    PropertyID:
      name: property_id
      in: path
      required: true
      schema:
        type: string
      description: ID of a page property.
    UserID:
      name: user_id
      in: path
      required: true
      schema:
        type: string
      description: ID of a Notion user.
    StartCursor:
      name: start_cursor
      in: query
      required: false
      schema:
        type: string
      description: Cursor used to fetch the next page of results.
    PageSize:
      name: page_size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Maximum number of results to return.
    CommentBlockID:
      name: block_id
      in: query
      required: false
      schema:
        type: string
      description: Restrict comment results to a specific block or page discussion.
    TemplateName:
      name: name
      in: query
      required: false
      schema:
        type: string
      description: Filter templates by case-insensitive substring match on name.

  responses:
    GenericObject:
      description: Successful response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GenericObject'

  schemas:
    GenericObject:
      type: object
      additionalProperties: true

    RichTextArray:
      type: array
      items:
        type: object
        additionalProperties: true

    BlockArray:
      type: array
      items:
        type: object
        additionalProperties: true

    SearchRequest:
      type: object
      additionalProperties: true
      properties:
        query:
          type: string
          description: Free-text search query.
        sort:
          type: object
          additionalProperties: true
          description: Sort descriptor for search results.
        filter:
          type: object
          additionalProperties: true
          description: Filter descriptor for object or property constraints.
        start_cursor:
          type: string
        page_size:
          type: integer
          minimum: 1
          maximum: 100

    CreatePageRequest:
      type: object
      additionalProperties: true
      required: [parent]
      properties:
        parent:
          type: object
          additionalProperties: true
          description: Page, database, or data source parent descriptor.
        properties:
          type: object
          additionalProperties: true
          description: Page property values.
        children:
          $ref: '#/components/schemas/BlockArray'
        icon:
          type: object
          additionalProperties: true
        cover:
          type: object
          additionalProperties: true
        content:
          type: string
          description: Enhanced Markdown content to create in the page.
        template:
          type: object
          additionalProperties: true
          description: Template configuration when creating from a data source template.

    UpdatePageRequest:
      type: object
      additionalProperties: true
      properties:
        properties:
          type: object
          additionalProperties: true
          description: Updated page property values.
        archived:
          type: boolean
        in_trash:
          type: boolean
        icon:
          type: object
          additionalProperties: true
        cover:
          type: object
          additionalProperties: true
        is_locked:
          type: boolean
        erase_content:
          type: boolean
          description: Remove page content before applying other changes.

    PageMarkdownUpdateRequest:
      type: object
      additionalProperties: true
      required: [type]
      properties:
        type:
          type: string
          enum:
            - update_content
            - replace_content
            - insert_content
            - replace_content_range
          description: Markdown update command type.
        update_content:
          type: object
          additionalProperties: true
          description: Search-and-replace operations.
        replace_content:
          type: object
          additionalProperties: true
          description: Full-content replacement payload.
        insert_content:
          type: object
          additionalProperties: true
          description: Legacy insert payload.
        replace_content_range:
          type: object
          additionalProperties: true
          description: Legacy targeted replacement payload.

    AppendBlockChildrenRequest:
      type: object
      additionalProperties: true
      required: [children]
      properties:
        children:
          $ref: '#/components/schemas/BlockArray'
        after:
          type: string
          description: Existing child block ID after which new children should be inserted.

    UpdateBlockRequest:
      type: object
      additionalProperties: true
      properties:
        archived:
          type: boolean
        in_trash:
          type: boolean
        payload:
          type: object
          additionalProperties: true
          description: Block-type payload keyed by the block type, for example paragraph or heading_1.

    CreateCommentRequest:
      type: object
      additionalProperties: true
      properties:
        parent:
          type: object
          additionalProperties: true
          description: Page or block parent.
        discussion_id:
          type: string
          description: Existing discussion thread ID.
        rich_text:
          $ref: '#/components/schemas/RichTextArray'

    CreateDatabaseRequest:
      type: object
      additionalProperties: true
      required: [parent]
      properties:
        parent:
          type: object
          additionalProperties: true
          description: Parent page or workspace descriptor.
        title:
          $ref: '#/components/schemas/RichTextArray'
        description:
          $ref: '#/components/schemas/RichTextArray'
        icon:
          type: object
          additionalProperties: true
        cover:
          type: object
          additionalProperties: true
        initial_data_source:
          type: object
          additionalProperties: true
          description: Initial data source schema and default view settings.

    UpdateDatabaseRequest:
      type: object
      additionalProperties: true
      properties:
        title:
          $ref: '#/components/schemas/RichTextArray'
        description:
          $ref: '#/components/schemas/RichTextArray'
        icon:
          type: object
          additionalProperties: true
        cover:
          type: object
          additionalProperties: true
        in_trash:
          type: boolean

    CreateDataSourceRequest:
      type: object
      additionalProperties: true
      required: [parent]
      properties:
        parent:
          type: object
          additionalProperties: true
          description: Parent database descriptor.
        name:
          type: string
        description:
          $ref: '#/components/schemas/RichTextArray'
        icon:
          type: object
          additionalProperties: true
        properties:
          type: object
          additionalProperties: true

    UpdateDataSourceRequest:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
        description:
          $ref: '#/components/schemas/RichTextArray'
        icon:
          type: object
          additionalProperties: true
        properties:
          type: object
          additionalProperties: true

    QueryDataSourceRequest:
      type: object
      additionalProperties: true
      properties:
        filter:
          type: object
          additionalProperties: true
        filter_properties:
          type: array
          items:
            type: string
        sorts:
          type: array
          items:
            type: object
            additionalProperties: true
        start_cursor:
          type: string
        page_size:
          type: integer
          minimum: 1
          maximum: 100
